<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Minecraft</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="jumbotron jumbotron-full" id="app">
      <div class="container">
        <h1 class="display-1">User Management v{{version}}</h1>
        <p class="lead">Use this site to verify yourself on the server. Make sure you have an alphanumeric username. Also, the password you select on this site is different from your password on the server.</p>
	<h1 class="display-4">Advertisement</h1>
	<p class="lead">Want a faster way to check your grades on Schoology? Check out Schoology Bookmarklets!</p>
	<a class="btn btn-lg btn-success" target="_blank" href="http://ec2-34-215-95-18.us-west-2.compute.amazonaws.com:8081/">Visit Schoology Bookmarklets</a>
	<br>
	<br>   
        <h1 class="display-4">Server Information</h1>
        <p class="lead">There are currently <code>{{onlineCount}}</code> users online.</p>
        <div class="row">
          <div class="col-md-6">
            <h1 class="display-3">Register</h1>
            <p class="lead">We need to confirm your account before you get full permissions.</p>
            <form action="/register" method="POST">
              <div class="form-group">
                <label>Name</label>
                <input type="text" name="name" class="form-control" placeholder="Metro Boomin" required>
                <small class="form-text text-muted">Please enter your name.</small>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" class="form-control" placeholder="Enter email" required>
                <small class="form-text text-muted">We'll use your email to confirm your identity. We will not share your email with third parties.</small>
              </div>
              <div class="form-group">
                <label>Server Username</label>
                <input type="text" name="username" class="form-control" placeholder="Enter server username" pattern="[\_a-zA-Z0-9]+" required>
                <small class="form-text text-muted">Type your username exactly as it appears on the server. Only alphanumeric usernames can be verified (i.e. no spaces, underscores, or special characters), so if your username isn't alphanumeric, you'll need to choose a different username. Restart the client and instead log in with an alphanumeric username.</small>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" minlength="8" required>
                <small class="form-text text-muted">
                  Please make this at least 8 characters long and secure.
                  You will use this to log onto this account in case you'd like to
                  update your settings. Please note that this is different from your
                  password on the server.
                </small>
              </div>
              <input id="fingerprint" type="hidden" name="fingerprint" value="">
              <button type="submit" class="btn btn-primary btn-lg">Register Account</a>
            </form>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <h1 class="display-4">Sign In</h1>
            <p class="lead">Already registered and confirmed? Sign in to check your data.</p>
            <form action="/login" method="POST">
              <div class="form-group">
                <label>Server Username</label>
                <input type="text" name="username" class="form-control" placeholder="Enter server username" required>
                <small class="form-text text-muted">Type your username exactly as it appears on the server.</small>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" placeholder="Password" minlength="8" required>
                <small class="form-text text-muted">
                  Please make this at least 8 characters long and secure.
                  You will use this to log onto this account in case you'd like to
                  update your settings.
                </small>
              </div>
              <button type="submit" class="btn btn-primary btn-lg">Sign In</a>
            </form>
          </div>
        </div>
        <br>
      </div>
    </div>
    <script src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/fingerprintjs2@1.5.1/dist/fingerprint2.min.js">
    </script>
    <script src="/home.js"></script>
  </body>
</html>
